















/* Основен стил за всички страници */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%; /* За да осигурим, че страницата ще заема 100% от височината на екрана */
}

.story {
    height: 100%; /* Височината на съдържанието да заема цялата височина на екрана */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Разпределяме съдържанието равномерно по вертикалата */
    align-items: center;
    padding: 20px;
}

h1, h2, p {
    margin: 20px 0;
}

.place img {
    max-width: 100%;
    height: auto;
    max-height: 300px; /* Ограничаваме височината на изображенията */
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: auto; /* Поставяме бутоните за навигация в долната част */
}




button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}





.character, .place {
    margin-top: 20px;
    text-align: center;
}

.character img, .place img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

